<h1>Listing jobs</h1>

<table id="jobs-table">
  <tr>
    <th>Jobuuid</th>
    <th>Jobtype</th>
    <th>Directory</th>
    <th>Sipuuid</th>
    <th>Currentstep</th>
    <th>Hidden</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Job</a>